#head, #body, #footer {
  margin-left: 0;
  margin-right: 0;
}

head {
  min-height: 100px;
}

body {
  background-color: black;
  text-align: center;
  font-size: 1.25em;
  font-family: 'Roboto Slab', serif;
  min-height: 100px;
  margin-top: 3%;
  white-space: normal;
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
}

#topnav {
  overflow: hidden;
  background-color: rgb(29, 29, 29);
}

#topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 64px;
  text-decoration: none;
  font-size: 17px;
}

#topnav a:hover {
  background-color: #003622;
  color: white;
}

#topnav a.active {
  background-color: #04AA6D;
  color: white;
}

.column {
  float: left;
  width: 50%;
  padding: 10px;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.par p, .p{
  margin-left: 10%;
  margin-right: 10%;
  text-align: left;
  font-size: 1.05em;
  white-space: normal;
  width: auto;
  display: flex;
  font-family: 'Avenir', sans-serif;
}


.p {
  font-size: 2em;
}

pc {
text-align: center;
color:white;
}

h1, h2, p, a {
  color: white;
}

h2 {
  font-size: 30px;
}

h3 {
  color: gray;
  line-height: 80%;
}

footer p {
  color: gray;
  font-size: 0.75em;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.lc {
    text-align: left;
    margin-left: 10%;
    margin-right: 10%;
    line-height: 20px;
    font-size: 5.8em;
}

.lci {
    text-align: left;
    margin-left: 10%;
    margin-right: 10%;
    line-height: 20px;
    font-size: 4.5em;
    font-family: 'Avenir', sans-serif;

}

.p1 {
    color:white;
    font-size: 50px;
    padding-left: 5px;
}

.bold {
  font-weight: 800;
}

.game {
width:1100px;
height:600px;
border: none;
}

.game2 {
  width: 1100px;
  height: 700px;
}

.game-desc {
  font-family: 'Electrolize', sans-serif;
}

.vid {
  margin-top: -80px;
  width: 900px;
  height: 650px;
  left: auto;
  right: auto;
}

.displayvid {
  margin-top: -100px;
  width: 1000px;
  height: 800px;
}

.flex {
  display: flex;
  justify-content: left;
}

.section {
  width: 100%;
  height: 100%;
}

.section-right {
  padding-left: 50px;
  padding-top: 100px;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.slider{
  width: 900px;
  height: 650px;
  left: auto;
  right: auto;
}

.img-box img{
  width: 50%;
}

.btn{
  border: none;
  outline: none;
  background: #04AA6D;
  padding: 10px 30px;
  font-size: 20px;
  color: #ddd;
  cursor: pointer;
  margin: 10px auto;
  text-decoration: none;
}

.slide-container {
  width: 100%;
  height: 50%;
  object-fit: cover;
}

.mySlides1, .mySlides2, .mySlides3, .mySlides4 {
  width: 100%;
  height: 100%;
  width: 920px;
  height: 500px;
  object-fit: cover;
  padding-left: 15px;
}

.w3-button {
  border: none;
  outline: none;
  background: #04AA6D;
  color: #ddd;
  cursor: pointer;
  padding: 5px 20px;
  font-size: 20px;
  margin: 1px auto;
}

.w3-button:hover {
  background: #003622;
}

.btn:hover{
  background:#003622
}

.projlink:hover {
  color:#04AA6D
}

#wrap {
  width: 1500px;
  height: 2000px;
  padding: 0;
  overflow: hidden;
  position: relative;
  z-index: -1;
}

#resume {
  zoom: 2;
  -webkit-transform: scale(2);
  -webkit-transform-origin: 0 0;
}

#mtn {
  width: 100%;
  height: 550px;
}


.flex-center {
  width: 100%;
  min-height: 50vh;
  
  background: #000;
  
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.icon-3d {
  padding: 10px;
  -webkit-animation: icon3d 200ms 10;
  animation: icon3d 200ms 10;
  color: #fff;
  

}

.icon-3d:hover {
  -webkit-animation: icon3d 200ms infinite;
        animation: icon3d 200ms infinite;
}

@keyframes icon3d {
  0% {
    text-shadow: 5px 4px rgba(244,67,54,1), -5px -6px rgba(33,150,243,1);;
  }
  25% {
    text-shadow: -5px -6px rgba(244,67,54,1), 5px 4px rgba(33,150,243,1);;
  }
  50% {
    text-shadow: 5px -4px rgba(244,67,54,1), -8px 4px rgba(33,150,243,1);;
  }
  75% {
    text-shadow: -8px -4px rgba(244,67,54,1), -5px -4px rgba(33,150,243,1);;
  }
  100% {
    text-shadow: -5px 0 rgba(244,67,54,1), 5px -4px rgba(33,150,243,1);;
  }
}

.social {
  width: 50px;
  height: 50px;
}


/* Contact page */
* {box-sizing: border-box;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

textarea, input {
  background-color: #003622;
  color: white;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #003622;
}

.container {
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 75px;
  padding-right: 75px;
  min-height: 10%;
  margin: auto;
  color:white;
  text-align: left;
  font-family: 'Avenir', sans-serif;
  -webkit-appearance: none;

}

.container-contact{
  width: 750px;
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 75px;
  padding-right: 75px;
  min-height: 10%;
  margin: auto;
  color:white;
  text-align: left;
  font-family: 'Avenir', sans-serif;
  -webkit-appearance: none;
}

@viewport {
  width: extend-to-zoom;
  zoom: 1.0;
}

@-ms-viewport {
  width: extend-to-zoom;
  zoom: 1.0;  }

  @media only screen and (max-width:800px) {
    /* For tablets: */
    .header {
      width: 80%;
      padding: 0;
    }
    .body {
      width: 1100px;
    }
  }

  ::-webkit-scrollbar {
    width: .5em;
  }

  ::-webkit-scrollbar-track {
    background: rgb(29, 29, 29);
    margin-lock: .2em;
  }

  ::-webkit-scrollbar-thumb {
    background:  hsl(120 100% 10% / 1);
    border: .15em solid hsl(160 100% 35% / 1);
    border-radius: 100vw;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: hsl(120 100% 10% / .8);
    border: .15em solid hsl(160 100% 25% / 1);
  }

  @supports (scrollbar-color: red blue){
    *{
      scrollbar-color: red blue;
    }
  }
  
  @media only screen and (max-width:500px) {
    /* For mobile phones: */
    .header, .body, .proj, .game-desc, .footer, .container {
      width: 100%;
      overflow-x: hidden;
    }

    footer {
      margin-top: 2%;
      height: 50;
      width: 100%;
      text-align: center;
      font-size: 0.8em;
      bottom: 0;
    }

    .lc, .lci, .p1, .h1 {
      width: 100%;
      line-height: 50px;
      font-size: 3em;
    }

    .topnav a {
      position: sticky;
      top: 0;
      float: right;
      color: #f2f2f2;
      text-align: center;
      padding: 14px 40px;
      text-decoration: none;
      font-size: 17px;
      z-index: 1;
    }

    .par {
      white-space: normal;
      min-height: 300px;
      white-space: normal;
    }

    .game-box {
      position: relative;
      width: 100%;
      padding-top: 56.25%; /* 16:9 Aspect Ratio */
      float: none;
    }

    .container {
      padding-left: 10px !important;
      padding-right: 10px !important;
    }

    .submit-button {
      -webkit-appearance: none !important;
      -moz-appearance: none;
      appearance: none;
      opacity: 1;
      overflow-x: hidden;
    }

    .game {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 100%;
      border: none;
    }

  }